<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <springProperty scope="context" name="LOG_LEVEL" source="log.level" defaultValue="info" />
    <springProperty scope="context" name="LOG_PATH"  source="log.path"  defaultValue="logs" />

    <appender name="FILE_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/app-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>5000</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <includeCallerData>false</includeCallerData>
        <appender-ref ref="CONSOLE" />
    </appender>

    <appender name="ASYNC_FILE_JSON" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>5000</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <includeCallerData>false</includeCallerData>
        <appender-ref ref="FILE_JSON" />
    </appender>

    <springProfile name="prod">
        <root level="${LOG_LEVEL}">
            <appender-ref ref="ASYNC_CONSOLE" />
            <appender-ref ref="ASYNC_FILE_JSON" />
        </root>
    </springProfile>

    <!-- Configuração para DESENVOLVIMENTO -->
    <springProfile name="!prod">
        <root level="${LOG_LEVEL}">
            <appender-ref ref="ASYNC_CONSOLE" />
        </root>
    </springProfile>
</configuration>
